
 
block content
    form(method="post")
        div.input
            span.label blogTitle
            input(type="text", name="blogTitle")
        div.input
            span.label body
            textarea(name="matter", cols="40", rows="5")
        div.actions
            input(type="submit", value="add")

